<template>
    <div class="about">

        <h1>About page</h1>
        <h2>about page test</h2>
        <h3>new data is added</h3>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>